<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updates report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Stack</th>
        <th scope="col">Service</th>
        <th scope="col">Image</th>
        <th scope="col">Actual tag</th>
        <th scope="col">Latest tag</th>
        <th scope="col">DockerHub URL</th>
    </tr>
    </thead>
    <tbody>REPORT_GENERATED_HERE</tbody>
</table>
</body>
</html>